# Randomize slab caches for normal kmalloc
CONFIG_RANDOM_KMALLOC_CACHES=y

# Don't allow slab caches to be merged
# CONFIG_SLAB_MERGE_DEFAULT is not set

# Page allocator randomization
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y

# Zero heap memory when allocated and freed
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y

# Check integrity of linked list manipulation
CONFIG_LIST_HARDENED=y

# Trigger a BUG when data corruption is detected
CONFIG_BUG_ON_DATA_CORRUPTION=y
